<template>
  <b-row v-if="users">
    <b-col sm="6" md="6" lg="4" offset-lg="2" class="mb-3">
      <b-card
        class="mb-3"
        title="Chat">
        <b-card-text>
          This page is similar to the <router-link to="/posts">posts</router-link>
          page, except it uses <a href="https://socket.io/">socket.io</a> instead of ajax.
          This means that new messages will appear on this page as soon as a message is
          saved on the database. Open up a couple of browser windows and try it!
        </b-card-text>
      </b-card>
      <b-card no-body>
        <b-list-group flush>
          <b-list-group-item v-for="(user, index) in currentUsers" :key="index">
            <p class="mb-0">{{ user.userName }}</p>
          </b-list-group-item>
        </b-list-group>
      </b-card>
    </b-col>
    <b-col sm="6" md="6" lg="4" class="mb-3">
      <b-card class="mb-3">
        <b-form @submit="sendMessage">
          <b-form-group
            id="messageInputGroup"
            label="Message"
            label-for="messageInput">
            <b-form-input
              id="messageInput"
              v-model="message"
              type="text"
              required />
          </b-form-group>

          <b-button type="submit" variant="primary">
            <i class="fas fa-paper-plane"></i> Send
          </b-button>
        </b-form>
      </b-card>
      <b-card no-body v-if="messages.length">
        <b-list-group flush>
          <b-list-group-item v-for="message in getMessages" :key="message.id">
            <small>
              <strong>{{ getUserName(message.createdBy) }}</strong>
              {{ formatDate(message.createdAt) }}
            </small>
            <p class="maintain-white-space">{{ message.message }}</p>
          </b-list-group-item>
        </b-list-group>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
  import io             from 'socket.io-client'
  import { mapGetters } from 'vuex'
  import moment         from 'moment'

  export default {
    name:     'Chat',
    data () {
      return {
        message:  '',
        socket:   null,
        messages: [],
        currentUsers: []
      }
    },
    computed: {
      ...mapGetters(['user', 'users']),
      getMessages () {
        // Sorts post in date order
        return this.messages
        .sort((left, right) => moment.utc(right.createdAt).diff(moment.utc(left.createdAt)))
        .slice(0, 10)
      }
    },
    methods:  {
      sendMessage (e) {
        e.preventDefault()

        this.socket.emit('send-message', { userId: this.user.id, message: this.message })
      },
      formatDate (date) {
        return moment(date).fromNow()
      },
      getUserName (id) {
        const user = this.users.find(u => u.id === id)
        if (user)
          return `${user.firstName} ${user.lastName}`
        return 'Anonymous'
      }
    },
    mounted () {
      this.$store.dispatch('loadUsers')

      // Connect to web socket
      this.socket = io(location.hostname, { query: `userName=${this.user.firstName} ${this.user.lastName}` })
      this.socket.on('connect', () => {
        console.log('Connected to web socket')
      })
      this.socket.on('disconnect', () => {
        console.log('Disconnected from web socket')
      })

      this.socket.on('users-updated', data => {
        this.currentUsers = data.users
      })

      this.socket.on('messages-loaded', data => {
        this.messages = data
      })

      this.socket.on('message-saved', data => {
        this.messages.push(data)
        this.message = ''
      })
    },
    beforeDestroy () {
      this.socket.close()
    }
  }
</script>