<template>
  <div id="wrapper">
    <b-navbar toggleable="sm" type="light" variant="light" class="mb-3">
      <b-navbar-brand to="/">venom</b-navbar-brand>
      <b-navbar-toggle target="nav_collapse" />
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item to="/" exact active-class="active">
            <i class="fas fa-home"></i> Home
          </b-nav-item>
          <b-nav-item v-if="authToken" to="/posts" active-class="active">
            <i class="fas fa-envelope"></i> Posts
          </b-nav-item>
          <b-nav-item v-if="authToken" to="/chat" active-class="active">
            <i class="fas fa-comments"></i> Chat
          </b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <b-nav-item v-if="!authToken" to="/register" active-class="active">
            <i class="fas fa-user-plus"></i> Register
          </b-nav-item>
          <b-nav-item v-if="!authToken" to="/login" exact active-class="active">
            <i class="fas fa-sign-in-alt"></i> Log in
          </b-nav-item>
          <b-nav-item v-if="user" :to="`/profile/${user.slug}`" active-class="active">
            <i class="fas fa-user"></i> {{ user.firstName }} {{ user.lastName }}
          </b-nav-item>
          <b-nav-item v-if="user" @click="logout">
            <i class="fas fa-sign-out-alt"></i> Log out
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <b-container>
      <router-view></router-view>
    </b-container>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name:     'Frame',
    computed: {
      ...mapGetters([
        'authToken',
        'user'
      ])
    },
    methods:  {
      logout () {
        this.$store.commit('clearAuthData')
        this.$router.push({ path: '/' })
      }
    }
  }
</script>

