<template>
  <b-row>
    <b-col sm="8" md="6" lg="4" offset-sm="2" offset-md="3" offset-lg="4" class="mb-3">
      <b-card
        v-if="authToken"
        :title="`Welcome ${user.firstName}!`"
        class="mb-2">
        <b-card-text>
          You're now authenticated. Why not try <router-link to="/posts">making a post</router-link>?
        </b-card-text>
      </b-card>
      <b-card
        v-else
        title="Welcome to venom!"
        class="mb-2">
        <b-card-text>
          Try <router-link to="/register">registering a new user</router-link>.
        </b-card-text>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name:     'Home',
    computed: {
      ...mapGetters([
        'authToken',
        'user'
      ])
    }
  }
</script>