<template>
  <b-row>
    <b-col sm="8" md="6" lg="4" offset-sm="2" offset-md="3" offset-lg="4" class="mb-3">
      <b-card>
        <b-form @submit="login">
          <b-form-group
            id="emailInputGroup"
            label="Email address"
            label-for="emailInput">
            <b-form-input
              id="emailInput"
              v-model="emailAddress"
              type="email"
              required
              placeholder="example@example.com" />
          </b-form-group>

          <b-form-group id="passwordInputGroup" label="Password" label-for="passwordInput">
            <b-form-input
              id="passwordInput"
              v-model="password"
              type="password"
              required />
          </b-form-group>

          <b-button type="submit" variant="primary">
            <i class="fas fa-sign-in-alt"></i> Log in
          </b-button>
        </b-form>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
  import axios from 'axios'

  export default {
    name:    'Login',
    data () {
      return {
        emailAddress: '',
        password:     ''
      }
    },
    methods: {
      login (e) {
        e.preventDefault()

        axios
        .post('/api/users/login', {
          emailAddress: this.emailAddress,
          password:     this.password
        })
        .then(res => {
          this.$store.commit('setAuthToken', res.data.token)
          this.$store.commit('setUser', res.data.user)
          this.$router.push({ path: '/' })
        })
      }
    }
  }
</script>

