<template>
  <b-col v-if="!loading" sm="8" md="6" lg="4" offset-sm="2" offset-md="3" offset-lg="4" class="mb-3">
    <template v-if="getPosts.length">
      <h4 v-if="title">{{ title }}</h4>
      <b-card no-body>
        <b-list-group flush>
          <b-list-group-item v-for="post in getPosts" :key="post.id">
            <dl class="mb-0">
              <dt>{{ post.title }}</dt>
              <dd>
                <!-- Generate link to user's profile -->
                <small>
                  <strong v-if="showUser">
                    <router-link :to="`/profile/${getUserSlug(post.createdBy)}`">
                      {{ getUserName(post.createdBy) }}
                    </router-link>
                  </strong>
                  {{ formatDate(post.createdAt) }}
                </small>
                <p class="maintain-white-space">{{ post.content }}</p>
              </dd>
            </dl>
          </b-list-group-item>
        </b-list-group>
      </b-card>
    </template>
  </b-col>
</template>

<script>
  import moment         from 'moment'
  import { mapGetters } from 'vuex'

  export default {
    name:     'PostList',
    props:    [
      'title',
      'showUser',
      'posts'
    ],
    data () {
      return {
        loading: true
      }
    },
    computed: {
      ...mapGetters(['users']),
      getPosts () {
        const posts = this.posts ? this.posts : this.$store.getters.posts

        // Sorts post in date order
        return posts.sort((left, right) => moment.utc(right.createdAt).diff(moment.utc(left.createdAt)))
      }
    },
    methods:  {
      formatDate (date) {
        return moment(date).fromNow()
      },
      getUserName (id) {
        const user = this.users.find(u => u.id === id)
        if (user)
          return `${user.firstName} ${user.lastName}`
        return 'Anonymous'
      },
      getUserSlug (id) {
        const user = this.users.find(u => u.id === id)
        if (user)
          return user.slug
        return 'anonymous'
      }
    },
    mounted () {
      const userPromise = this.$store.dispatch('loadUsers')
                              .catch(err => this.$router.push({ path: '/' }))

      let postPromise = null
      if(!this.posts) {
        postPromise = this.$store.dispatch('loadPosts')
                          .catch(err => this.$router.push({ path: '/' }))
      }

      Promise
        .all([userPromise, postPromise])
        .then(values => {
          this.loading = false
        })
    }
  }
</script>