<template>
  <b-row v-if="user">
    <b-col sm="8" md="6" lg="4" offset-sm="2" offset-md="3" offset-lg="4" class="mb-3">
      <b-card
        :title="`${user.firstName} ${user.lastName}`"
        img-src="https://picsum.photos/1108/554/"
        img-alt="Image"
        img-top
        class="mb-2">
        <b-card-text>
          <p>{{ user.slug }}</p>
          <!-- Log out button is only shown if this is the user's profile -->
          <b-button v-if="user.id === currentUser.id" @click="logout" variant="danger">
            <i class="fas fa-sign-out-alt"></i> Log out
          </b-button>
        </b-card-text>
      </b-card>
    </b-col>
    <post-list :posts="posts"
               :users="[user]"
               :title="`${user.id === currentUser.id ? 'Your' : user.firstName + '\'s'} posts`" />
  </b-row>
</template>

<script>
  import { mapGetters } from 'vuex'
  import axios          from 'axios'
  import PostList       from './PostList'

  export default {
    name:       'Profile',
    components: { PostList },
    data () {
      return {
        user:  null,
        posts: []
      }
    },
    computed:   {
      ...mapGetters({ currentUser: 'user' }),
      slug () {
        return this.$route.params.slug
      }
    },
    methods:    {
      logout () {
        this.$store.commit('clearAuthData')
        this.$router.push({ path: '/' })
      },
      getUserData () {
        axios
          .get(`/api/users/${this.slug}`, {
            headers: {
              Authorization: this.$store.getters.authToken
            }
          })
          .then(userRes => {
            this.user = userRes.data

            axios
              .get(`/api/posts/by-user/${userRes.data.id}`, {
                headers: {
                  Authorization: this.$store.getters.authToken
                }
              })
              .then(postRes => {
                this.posts = postRes.data
              })
              .catch(err => {
                if(err.response) {
                  if(err.response.status === 401) {
                    this.$store.commit('clearAuthData')
                  }
                }
                this.$router.push({ path: '/' })
              })
          })
      }
    },
    watch:      {
      slug () {
        this.getUserData()
      }
    },
    mounted () {
      this.getUserData()
    }
  }
</script>