<template>
  <b-row>
    <b-col sm="8" md="6" lg="4" offset-sm="2" offset-md="3" offset-lg="4" class="mb-3">
      <b-card>
        <b-form @submit="register">
          <b-form-group id="firstNameInputGroup" label="First name" label-for="firstNameInput">
            <b-form-input
              id="firstNameInput"
              v-model="firstName"
              type="text"
              required />
          </b-form-group>

          <b-form-group id="lastNameInputGroup" label="Last name" label-for="lastNameInput">
            <b-form-input
              id="lastNameInput"
              v-model="lastName"
              type="text"
              required />
          </b-form-group>

          <b-form-group
            id="emailInputGroup"
            label="Email address"
            label-for="emailInput"
            description="We'll never share your email with anyone else.">
            <b-form-input
              id="emailInput"
              type="email"
              v-model="emailAddress"
              required
              placeholder="example@example.com" />
          </b-form-group>

          <b-form-group id="passwordInputGroup" label="Password" label-for="passwordInput">
            <b-form-input
              id="passwordInput"
              v-model="password"
              type="password"
              required />
          </b-form-group>

          <b-button type="submit" variant="primary">
            <i class="fas fa-user-plus"></i> Register
          </b-button>
        </b-form>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
  import axios from 'axios'

  export default {
    name:    'Register',
    data () {
      return {
        firstName:    '',
        lastName:     '',
        emailAddress: '',
        password:     ''
      }
    },
    methods: {
      register (e) {
        e.preventDefault()

        axios
        .post('/api/users/register', {
          firstName:    this.firstName,
          lastName:     this.lastName,
          emailAddress: this.emailAddress,
          password:     this.password
        })
        .then(res => {
          this.$router.push({ path: '/' })
        })
      }
    }
  }
</script>